#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
  overflow-x: hidden;
}

.badge-approved {
  background-color: #E1F9E3;
  color: #008444 !important;
}

.badge-pending {
  background-color: #ECE9FF !important;
  color: #5F46E3 !important;
}

.badge-rejected {
  background-color: #FFEAF4 !important;
  color: #C91E5C !important;
}

.badge-cancelled {
  background-color: #FFF3DC !important;
  color: #FFB023 !important;
}

.badge-default {
  background-color: #E0F6FF;
  color: #3090E8 !important;
}
.profile-img-container {
  position: relative;
  display: inline-block;
}

/* Edit button hover effect */
.btn-edit:hover {
  transform: translate(25%, 25%) scale(1.1);
  transition: all 0.2s ease;
}

.related-videos {
  margin-top: 30px;
}

.carousel-container {
  display: flex;
  overflow-x: auto;
  gap: 15px;
}

.carousel-item {
  flex: 0 0 auto;
  width: 150px;
  cursor: pointer;
  text-align: center;
}

.thumbnail {
  width: 100%;
  height: 100px;
  object-fit: cover;
}

.video-info {
  margin-top: 5px;
}

.video-info h6 {
  font-size: 14px;
  font-weight: bold;
}

.video-info span {
  font-size: 12px;
  color: #888;
}
